@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --x: 0;
  --y: 0;
  --scroll: 0;
}

@font-face {
  font-family: "Avant Garde Book BT";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/AVGARDD_2.woff") format("woff");
}

body {
  margin: 0px;
  background-color: #0f0f0f;
  font-family: "Avant Garde Book BT";
  overflow-x: hidden;
  margin-bottom: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
